

body {
    background-image: url(images/spaghetti.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

h1 {
    color: black;
    font-size: 48px;
    font-family: 'Shift', sans-serif;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 15px;
}

a {
    font-size: 15px;
    color: black;
}

.logo {
    padding: 50px;
}

.logo img {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    display: block;
    max-height: 153px;
}

.nav {
    text-align: center;
    padding: 15px;
}

.nav a {
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;
}

.nav li {
    display: inline-block;
}
.btn {
    display: inline;
    border: none;
    letter-spacing: 2px;
    transition: 0.2s;
}

.btn:hover {
    color: black;
    transform: scale(1.1);
    transition: 0.2s;
    letter-spacing: 2px;
}

.about {
    text-align: center;
    background-color: #efefef;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.about h2 {
    color: #393c3d;
    font-size: 24px;
}

.about p {
    font-size: 15px;
    margin-bottom: 13px;
}

.portfolio {
    background-color: #efefef;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.learn-more {
    background-color: #f7f7f7;
}

.learn-more h3 {
    font-family: 'Shift', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.learn-more a {
    color: #00b0ff;
}