.nav a {
  color: #5a5a5a;
  font-size: 13px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('https://s3-us-west-2.amazonaws.com/donat.images/spaghetti.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
  text-align:center;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: center;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.jumbotron a {
  font-size: 15px;
  color: #fff;
  
}

.logo {
    object-position: center;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    height: auto;
    width: auto;
    max-height: 153px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}



.btn {
  display: inline-block;
  color: #ff3300;
  border: 2px outset rgba(0, 0, 0, 0.9);
  color: black;
  text-shadow: 1px 1px 1px #000;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  letter-spacing: 2px;
  transition: 0.2s;
}

.btn:hover {
	color: #fff;
  border: 2px outset rgba(0, 0, 0, 0.9);
  background: #408000;
  transform:scale(1.1);
  transition: 0.2s;
  text-shadow: 1px 1px 1px rgba(0,0,0, 20);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  letter-spacing: 2px;
}

.about{
    text-align: center;
    background-color: #efefef;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.about h2 {
    color: #393c3d;
    font-size: 24px;
}

.about p {
    font-size: 15px;
    margin-bottom: 13px;
}

.portfolio {
    background-color: #efefef;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
  
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}